<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Merchant - Records</title>
    </head>
    <body>
        <a name="top">Merchant</a>
        <a href="/admin" target="_blank">Admin</a> |
        <a href="/records">Records</a><br>
        {% include 'records/header.html' %}
        <hr>
        {% block content %}{% endblock %}
        {% include 'records/footer.html' %}
    </body>
</html>
