Records Index

<pre>
<a href="produto">produto {{ produto }}</a>

<a href="site">site {{ site }}</a>

<a href="estoque">estoque {{ estoque }}</a>

<a href="compra">compra {{ compra }}</a>

<a href="chegando">chegando {{ chegando }}</a>

</pre>

<hr>

<pre>

<a href="pedido">pedido {{ pedido }}</a>

<a href="venda">venda {{ venda }}</a>

<a href="pedidouniao">pedido UNIAO {{ pedidouniao }}</a>

<a href="vendauniao">venda UNIAO {{ vendauniao }}</a>

</pre>

<h3><a href="/reposicao/unionize/">Unionize cardex_report</a></h3>
