Data format: "ddmmyy" (150917)

<form method="POST" target="_blank" id="form">
    {% csrf_token %}
    {{form}}
    <input type="submit">
    <br><br>
    <input type="button" onclick="document.getElementById('form').reset(); document.getElementById('id_codigo').focus()" value="Reset">
</form>

<script>
    document.getElementById('id_codigo').focus();
</script>
