<h3>Make sure to update <a href="/records/">Records</a></h3>
    
Replace Largest Uniao with actual Cliente

<form method="POST" target="_blank" id="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>
